html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

canvas {
    width: 640px;
    height: 480px;
    position: absolute;
    margin: auto;
    background-color: #000;
    background-color: #f8ced8;
    inset: 0;
    image-rendering: pixelated;
}
