html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    color: #fff;
}

canvas {
    width: 1000px;
    height: 600px;
    position: absolute;
    margin: auto;
    background-color: #f8ced8;

    inset: 0;
    image-rendering: pixelated;
    border-radius: 10px;
}
